.App {
  margin: 10px;
}
.searchDiv {
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 5px;
}
.searchDiv form {
  display: flex;
  flex-direction: column;
}
input {
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px;
  margin: 8px 0;
}
label {
  font-size: 20px;
  margin-top: 5px;
  margin-left: 5px;
  text-align: center;
}
.imagesList {
  columns: 250px 5;
  column-gap: 10px;
}
.imageListImg {
  width: 100%;
}
